# Supabase PostgreSQL - Session Pooler (für Vercel/IPv4)
DATABASE_URL="postgresql://postgres.XXXX:PASSWORT@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"

# Supabase PostgreSQL - Direct Connection (für prisma db push / Migrationen)
DIRECT_URL="postgresql://postgres:PASSWORT@db.XXXX.supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_SECRET=""   # openssl rand -base64 32
NEXTAUTH_URL="https://www.gerki.app"

# Gerki-App JWT (für Electron Desktop-App)
APP_JWT_SECRET=""    # openssl rand -base64 32
